---
const { class: c } = Astro.props;
---

<div class:list={["group/theme", c]}>
  <button
    class:list={[
      "cursor-pointer",
      "after:content-['ðŸŒœ_Dark_Mode']",
      "group-[[data-theme='dark']_&]/theme:after:content-['ðŸŒž_Light_Mode']",
      "group-[[data-theme='light']_&]/theme:after:content-['ðŸ–¥ï¸_System_Mode']",
    ]}
  />
</div>

<script>
document.querySelector('.group\\/theme > button')?.addEventListener('click', function() {
  const current = document.documentElement.dataset.theme;
  const value = current === 'dark' ? 'light' : (current === 'light' ? 'system' : 'dark');
  document.documentElement.dataset.theme = value;
  localStorage.setItem('theme', value);
});
</script>
